@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    :root {
      font-family: "Jersey";
      --navigation-height: 6.5rem;
    }

    font-size: 62.5%;
  }
}

@layer utilities {
  .masonry-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .break-inside-avoid {
    break-inside: avoid;
  }
}
